{
  "extends": ["react-app", "airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["prettier", "jest"],
  "settings": {
    "import/resolver": "node"
  },
  "rules": {
    "no-debugger": "warn",
    "prettier/prettier": "off",
    "dot-notation": "warn",
    "no-unused-vars": "warn",
    "no-case-declarations": "warn",
    "prefer-template": "warn",
    "react/prop-types": "warn",
    "import/order": "warn",
    "import/no-duplicates": "warn",
    "no-restricted-globals": "warn",
    "no-shadow": "warn",
    "no-else-return": "warn",
    "no-param-reassign": "warn",
    "prefer-destructuring": "warn",
    "no-empty": "warn",
    "import/extensions": "warn",
    "spaced-comment": "warn",
    "consistent-return": "warn",
    "react/self-closing-comp": "warn",
    "no-lonely-if": "off",
    "no-restricted-syntax": "warn",
    "react/jsx-boolean-value": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "object-shorthand": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "prefer-const": "warn",
    "one-var": "warn",
    "no-plusplus": "off",
    "no-nested-ternary": "off",
    "import/no-cycle": "warn",
    "operator-assignment": "warn",
    "react/require-default-props": "warn",
    "import/newline-after-import": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "import/no-useless-path-segments": "warn",
    "guard-for-in": "warn",
    "yoda": "warn",
    "react/no-unescaped-entities": "warn",
    "import/no-extraneous-dependencies": ["warn"],
    "react/destructuring-assignment": "warn",
    "react/default-props-match-prop-types": "warn",
    "react/no-unused-prop-types": "warn",
    "no-unneeded-ternary": "warn",
    "camelcase": "warn",
    "max-len": "off",
    "no-unused-expressions": "warn",
    "no-confusing-arrow": "warn",
    "no-underscore-dangle": "warn",
    "import/prefer-default-export": "off",
    "no-use-before-define": "warn",
    "no-dupe-keys": "warn",
    "no-extra-boolean-cast": "off",
    // React
    "react/jsx-no-duplicate-props": ["warn", { "ignoreCase": false }],
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": "warn",
    "react/no-array-index-key": "warn",
    "react/forbid-prop-types": "warn",
    "react/prefer-stateless-function": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/interactive-supports-focus": "warn",
    "react/jsx-props-no-spreading": "warn"
  }
}
